site_name: Combine
repo_name: GitHub
repo_url: https://github.com/cms-analysis/HiggsAnalysis-CombinedLimit
edit_uri: edit/102x/docs

nav:
        - Home: index.md
        - Setting up the analysis:
          - "Preparing the datacard": part2/settinguptheanalysis.md
          - "Physics models": part2/physicsmodels.md
          - "Automatic MC statistical uncertainties": part2/bin-wise-stats.md
        - Running combine:
          - "Running the tool":           part3/runningthetool.md
          - "Common statistical methods": part3/commonstatsmethods.md
          - "Advanced use cases":         part3/nonstandard.md
          - "Unfolding & regularization": part3/regularisation.md
          - "Validating datacards":       part3/validation.md
          - "Debugging fit failures":     part3/debugging.md
        - Links & FAQ: part4/usefullinks.md
        - Tutorials:
          - "RooFit Basics":              part5/roofit.md
          - "Exercise: main features":    part5/longexercise.md
          - "Solutions to long exercise": part5/longexerciseanswers.md

theme:
        name: cinder
        include_sidebar: true
        highlightjs: true

extra_css:
  - "mystyle.css"

extra_javascript:
  - 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML'

markdown_extensions:
        - pymdownx.arithmatex
        - pymdownx.details
        - admonition
