@media (min-width: 992px) {
  .bs-sidebar.affix {
      position: fixed; /* Undo the static from mobile first approach */
      top: 80px;
      max-height: calc(100% - 90px);
      overflow-y: auto
  }
}

details > summary {
  padding: 2px 6px;
  width: 15em;
  background-color: #ddd;
  border: none;
  cursor: pointer;
}

details > p {
  border-radius: 0 0 10px 10px;
  background-color: #ddd;
  padding: 2px 6px;
  margin: 0;
}

details[open] > summary {
  background-color: #ccf;
}
