name: CI with CVMFS

env:
  IMAGE: cmscloud/cc7-cms
  CMSSW_VERSION: CMSSW_11_3_4
  SCRAM_ARCH: slc7_amd64_gcc900
  CAT23001: HiggsAnalysis/CombinedLimit/data/tutorials/CAT23001

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  test_workflow:
    runs-on: ubuntu-latest
    name: Test with CMSSW
    steps:
      # checkout the files of this repository
      - uses: actions/checkout@v4
      - uses: cvmfs-contrib/github-action-cvmfs@v4
        with:
          cvmfs_repositories: 'cms.cern.ch'
      - uses: rhaschke/docker-run-action@v5
        with:
          image: ${{ env.IMAGE }}
          shell: bash
          options: -v /cvmfs:/cvmfs:shared -v ${{ github.workspace }}:/work/CombinedLimit -w /home/cmsusr -e CMSSW_VERSION=${{ env.CMSSW_VERSION }} -e SCRAM_ARCH=${{ env.SCRAM_ARCH }}
          run: | 
            ls /work/CombinedLimit
            ls /cvmfs/cms.cern.ch | grep common
            source /cvmfs/cms.cern.ch/cmsset_default.sh
            scram project ${CMSSW_VERSION}
            source /cvmfs/cms.cern.ch/cmsset_default.sh
            cd ${CMSSW_VERSION}/src
            cmsenv
            mkdir -p HiggsAnalysis
            cp -r /work/CombinedLimit HiggsAnalysis/
            scramv1 b -j$(nproc)
            echo ${PATH}
            combine --help
            combine ${CAT23001}/datacard-2-template-analysis.txt -M HybridNew --LHCmode LHC-limits --rMax 2.0 --clsAcc 0.01
            combine ${CAT23001}/datacard-3-parametric-analysis.txt -M HybridNew --LHCmode LHC-significance -T 100 --mass 125
            combine ${CAT23001}/datacard-3-parametric-analysis.txt -M Significance --mass 125
            combine ${CAT23001}/datacard-1-counting-experiment.txt -M MarkovChainMC --tries 100
            text2workspace.py {CAT23001}/datacard-5-multi-signal.txt -P HiggsAnalysis.CombinedLimit.PhysicsModel:floatingXSHiggs --PO modes=ggH,qqH -o datacard-5-multi-signal.root --mass 125
            combine datacard-5-multi-signal.root -M MultiDimFit --algo singles --mass 125
            combine ${CAT23001}/datacard-5-multi-signal.txt -M ChannelCompatibilityCheck --mass 125



